tools/*
obstacles/12/*
obstacles/13/*
obstacles/14/*
obstacles/15/*
obstacles/16/*
map/12/*
map/13/*
map/14/*
map/15/*
map/16/*
obstacles/__pycache__/*
map/__pycache__/*
thermik/12/*
thermik/13/*
thermik/14/*
thermik/15/*
thermik/16/*
thermik/__pycache__/*
obstacles/signature/*
thermik/hotspots.csv
obstacles/Active_*
swisstlm3d/*
hike/12/*
hike/13/*
hike/14/*
hike/15/*
hike/16/*
download-scripts/__pycache__/*
download-scripts/map/*
download-scripts/thermik/*
download-scripts/obstacles/*
download-scripts/hike/*
